config-button, config-checkbox, config-slider, config-textbox, config-numberbox {
    display: flex;
    justify-content: space-between;
    width: 100%
}

/* Custom buttons */
:host button {
    height: 3em;
    width: 90%;
    margin: 0.5em;
    margin-left: 5%;
    margin-right: 5%;
}

/* Custom checkboxes */
:host .checkbox { 
    appearance: none;
    position : relative ;
    font-size: inherit;
    width : 2em;
    max-width: 2em;
    height : 1em;
    box-sizing: content-box;
    border: 0.1em solid black;
    border-radius: 1em;
    vertical-align: text-bottom;
    margin: auto;
    flex-grow: 1;
}

:host .checkbox:checked {
    background: green;
}

:host .checkbox {
    background: red;
}

:host .checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    box-sizing: border-box;
    width: .8em;
    height: .8em;
    margin: 0 10%;
    border: 0.1em solid black;
    border-radius: 50%;
    background-color: black;
}

:host :has(+ .checkbox) {
    flex-grow: 9;
}

:host .checkbox:checked:before {
    transform: translate(100%, -50%);
}

/* Custom sliders */
:host .slider {
    width: 50%;
}

:host .slider-display {
    width: 5em;
    text-align: right;
    font-family: monospace;
}