html, body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px
}

#titlebar, #statusbar {
    border-style: groove;
    display: flex;
    flex-direction: row;
    background-color: lightgray;
}

p {
    margin: 0.25em;
}

#content {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    /* 
    This is required to make just #message-container scrollable, 
    since all its parent elements need their heights set. 
    */
    height: 100%;
}

#content > * {
    padding: 0.25em;
}

#plugin-providers {
    flex-grow: 1;
    background-color: gray;
    border-right: 1px solid black;
}

#plugin-config {
    flex-grow: 2;
    background-color: gray;
    border-right: 1px solid black;
}

#message-container {
    display: flex;
    flex-direction: column;
    background-color: palegoldenrod;
    overflow: scroll;
    height: 100%;
    padding: 10px;
    gap: 2px;
}

#plugin-providers > * {
    background-color: green;
}

.tab-content {
    width: 100%;
    height: 100%;
}

#tab-selector {
    float: left;
    display: flex;
    flex-direction: column;
    width: 5rem;
    height: 100%;
    justify-content: center;
    gap: 0.25rem;
    background-color: darkolivegreen;
}

button.active {
    background-color: lightgreen;
}

#config-tab {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}